.info-card-wide.mdl-card {
    width: 100%;
}
.info-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background:  center / cover;
}
.info-card-wide > .mdl-card__menu {
    color: #fff;
}