/* Places the footer on the bottom. But ruins the background image placement. */
/*
.mdl-layout__content {
    flex: 1 0 auto;
}

.mdl-mini-footer {
    flex: 0 0 auto;
}
*/
.title_link {
    text-decoration : none;
    color : #ffffff;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

/* NAV Drawer */

.demo-navigation {
    flex-grow: 1;
}
.demo-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}
.demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4; !important;
    color: #37474F; !important;
}
.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}

